@use '../../styles'

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(example)
  0%
    position: relative
    left: 0px
  50%
    position: relative
    left: 15px

  100%
    position: relative
    left: 30px


h2
    color: #3D3D3D
    text-align: left

ul
    margin-left: 5px
    li:not(:last-child)
        margin-bottom: 10px

li
    list-style: none
    border-radius: 10px
    width: fit-content
    color: #A0A0A0
    display: flex
    cursor: pointer
    transition: color 0.5s ease-in-out

    span
        padding: 15px

    .id-span
        background-color: #5F7D8C
        text-align: center
        color: white
        display: inline-block
        width: 20px
        border-radius: 10px 0 0 10px

    .name-span
        display: inline-block
        background-color: #D0D8DC
        padding-left: 5px
        width: 160px
        border-radius: 0 10px 10px 0

li:hover
    position: relative
    left: 20px
    color: white
    
